
<div class="container mt-5">

  <h4>請輸入你的支出</h4>

  <div class="card" style="max-width: 720px;">
    <div class="card-body">
      <form action="/records" method="POST">

        <div class="row mb-3">
          <label for="name" class="col-2 col-form-label" style="text-align: center;">支出項目</label>
          <div class="col-10">
            <input type="text" class="form-control form-control-sm" id="name" name="name" required>
          </div>
        </div>

        <div class="row mb-3">
          <label for="date" class="col-2 col-form-label" style="text-align: center;">日期</label>
          <div class="col-10">
            <input type="date" class="form-control form-control-sm" id="date" name="date" required>
          </div>
        </div>

        <div class="row mb-3">
          <label for="category" class="col-2 col-form-label" style="text-align: center;">類別</label>
          <div class="col-10">
            <select name="category" id="category" required>
              {{#each categories}}
              <option value="{{ this.name }}">{{ this.name }}</option>
              {{/each}}
            </select>
          </div>
        </div>

        <div class="row mb-3">
          <label for="amount" class="col-2 col-form-label" style="text-align: center;">金額</label>
          <div class="col-10">
            <input type="number" class="form-control form-control-sm" id="amount" name="amount">
          </div>
        </div>

        <button class="btn text-light" type="submit" style="background-color:#c98888">建立</button>

      </form>
    </div>
  </div>
</div>